{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block banner_tagline %}Registration{% endblock %}
{% block banner1 %} <a href="{% url 'login' %}"> Login {% endblock %}
{% block banner2 %} <a href="{% url 'register_done' %}"> Account created {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3" style="text-align:center;">
            <h1>Welcome {{ new_user.first_name }}!</h1>
            <p>
                Your account has been successfully created. Now you can <a href="{% url 'login' %}">log in</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}