{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block banner1 %}Account {% endblock %} {% block banner2 %}Password Reset {% endblock %}
{% block title %}Reset your password {% endblock %}

{% block content %}
<div style="text-align:center;">
    <h1>Reset your password</h1>
    <p>Please enter your new password twice:</p>
    <form action="." method="post">
        {{ form.crispy }}
        {% csrf_token %}
        <p><input type="submit" value="Change my password"></p>
    </form>
</div>
{% endblock %}